<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Defaulter Alert</title>
</head>

<body>
    <p>Dear Admin,</p>
    <p>This is an automated alert regarding a defaulter:</p>
    <ul>
        <li>Name: {{ defaulter.name }}</li>
        <li>CDA: {{ defaulter.cda }}</li>
        <li>Amount Indebted: {{ defaulter.amount_indebted }}</li>
        <li>Debt For: {{ defaulter.title_defaulted }}</li>
        <li>Status: {{ defaulter.status }}</li>
        <li>Phone Number: {{ defaulter.phone_number }}</li>
        <li>Notes: {{ defaulter.notes }}</li>
    </ul>
    <p>Please take appropriate action.</p>
    <p>Best regards,</p>
    <p>Your CDA App Team</p>
</body>

</html>